<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wd.doctor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".utils.App"
        android:allowBackup="true"
        android:icon="@mipmap/logoa"
        android:label="维度健康---医生端"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.WithdrawActivity"></activity>
        <activity android:name=".view.BindIdActivity" />
        <activity android:name=".view.ToBindActivity" />
        <activity android:name=".view.ReplyActivity" />
        <activity android:name=".view.BindInfoActivity" />
        <activity android:name=".view.DoctorWalletActivity" />
        <activity android:name=".view.ImageQueryActivity" />
        <activity android:name=".view.SearchSuffererActivity" />
        <activity android:name=".view.SuffererOutActivity" />
        <activity android:name=".view.EnquiryActivity" />
        <activity android:name=".view.DoctorInforActivity" />
        <activity android:name=".view.MyActivity" />
        <activity android:name=".view.HomeActivity" />
        <activity android:name=".view.ResidencyThreeActivity" />
        <activity android:name=".view.ResidencyTwoActivity" />
        <activity android:name=".view.ForgetActivity" />
        <activity android:name=".view.ResidencyActivity" />
        <activity android:name=".view.LoginActivity" />
        <activity
            android:name=".view.WelcomeActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>